.tcfd-carousel {
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  .carousel-item {
      width: 100%;
      height: 100%;
  }
  .bootstrap-carousel {
    flex-grow: 1;
    display: flex;
    &-item {
      width: 100%;
      height: 100%;
    }
  }
}
